body {
  background-color: #254da8;
  background-image: url("ispy_finished2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.containObjects{
  width:100vw;
  height:100vh;
  float:left;
  z-index: -1;
  position:fixed;
  transform: translate(-0.75%,0%);
}

/* For my github website------------------------------------------------------------------------------------------------------------- */
.mainText {
  color: #FF5C99;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.mainText:hover {
  color: white;
}

a:link {
  color: #FF5C99;
}

a:visited {
  color: #FF5C99;
}

a:hover {
  color: white;
}


/* For Button Containers---------------------------------------------------------------------------------------------------------------- */

#openModalCamera{
}
.cameraButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.cameraButton:hover{
  background:url("camera-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

#openModalVideogame{
}
.gameButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.gameButton:hover{
  background:url("game-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

#openModalPaintbrush{
}
.paintbrushButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.paintbrushButton:hover{
  background:url("paintbrush-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

#openModalDice{
}
.diceButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.diceButton:hover{
  background:url("dice-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

#openModalKeyboard{
}
.keyboardButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.keyboardButton:hover{
  background:url("keyboard-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

#openModalOrange{
}
.orangeButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.orangeButton:hover{
  background:url("orange-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

/* Customize Modal Container ---------------------------------------------*/

.modal-content{

}

.modal-header{
  font-size: 32px;
  color:blue;
}

.modal-title{

}

.modal-body{

}

.modalFooter{

}
