body {
  background-color: pink;
  background-image: url("ispytest1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* For my github website------------------------------------------------------------------------------------------------------------- */
.mainText {
  color: #FF5C99;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  /* margin:25% */
}

.mainText:hover {
  color: white;
}

a:link {
  color: #FF5C99;
}

a:visited {
  color: #FF5C99;
}

a:hover {
  color: white;
}


/* For Button Containers---------------------------------------------------------------------------------------------------------------- */

.glowObjects{
  width:100vw;
  height:100vh;
}













/* For Modal Popups------------------------------------------------------------------------------------------------------------------- */
#openModalCamera{
  display: flex;
}
#openModalVideogame{
  display:flex;
}
#openModalPaintbrush{
  display: flex;
}
#openModalDice{
  display: flex;
}
#openModalKeyboard{
  display: flex;
}

#modalInteriorCamera{
  display:none;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  z-index: 1;
  width:75%
  height:75%
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalInteriorVideogame{
  display:none;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  z-index: 1;
  width:75%
  height:75%
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalInteriorPaintbrush{
  display:none;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  z-index: 1;
  width:75%
  height:75%
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#modalInteriorDice{
  display:none;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  z-index: 1;
  width:75%
  height:75%
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalInteriorKeyboard{
  display:none;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  z-index: 1;
  width:75%
  height:75%
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* camera */
#closeModalCamera{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#closeModalVideogame{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#closeModalPaintbrush{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#closeModalDice{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#closeModalKeyboard{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeModalCamera:hover,
#closeModalVideogame:hover,
#closeModalPaintbrush:hover,
#closeModalDice:hover,
#closeModalKeyboard:hover,

#closeModalCamera:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeModalVideogame:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeModalPaintbrush:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeModalDice:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#closeModalKeyboard:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* For mobile phones: Galaxy S5, iPhone X, and iPhone 6/7/8 Portrait modes */
  [class*="col-"] {
    width: 100%;
  }
}

.temporaryButtonAlign{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
/* Source:https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
