body {
  background-color: #254da8;
  background-image: url("ispy_finished2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.containObjects{
  width:100vw;
  height:100vh;
  float:left;
  z-index: -1;
  position:fixed;
  transform: translate(-0.75%,0%);
}

/* For my github website------------------------------------------------------------------------------------------------------------- */
.mainText {
  color: #FF5C99;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

/* For Button Containers---------------------------------------------------------------------------------------------------------------- */


.cameraButton{
  /* position: sticky;
  position: relative; */
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:220px;
  height:220px;
  transform:translate(220px,430px);

}
.cameraButton:hover{
  /* position: relative; */
  background:url("camera-button.svg") no-repeat;
  border:none;
  width:220px;
  height:220px;
  transform:translate(220px,430px);
}

.gameButton{
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:250px;
  height:250px;
  transform:translate(290px,20px);
}
.gameButton:hover{
  /* position: relative; */
  background:url("game-button.svg") no-repeat;
  border:none;
  width:250px;
  height:250px;
  transform:translate(290px,20px);
}

.paintbrushButton{
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:250px;
  height:250px;
  transform: translate(580px,-260px);
}
.paintbrushButton:hover{
  /* position: relative; */
  background:url("paintbrush-button.svg") no-repeat;
  border:none;
  width:250px;
  height:250px;
  transform: translate(570px,-260px);
}

.diceButton{
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:100px;
  height:60px;
  transform: translate(360px, -100px);
}
.diceButton:hover{
  background:url("dice-button.svg") no-repeat;
  border:none;
  width:100px;
  height:60px;
  transform: translate(360px, -100px);
}

.keyboardButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:200px;
  height:200px;
  transform: translate(360px, -300px);
}
.keyboardButton:hover{
  background:url("keyboard-button.svg") no-repeat;
  border:none;
  width:200px;
  height:200px;
  transform: translate(360px, -300px);
}

.orangeButton{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  width:80px;
  height:40px;
}
.orangeButton:hover{
  background:url("orange-button.svg") no-repeat;
  border:none;
  width:80px;
  height:40px;
}

/* Sidenavigator Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav p {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  height:100vh;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* Customize Modal Container ---------------------------------------------*/
/* https://getbootstrap.com/docs/4.1/components/modal/ */
